
body {
    margin: 0;
    font-family: 'Merriweather', serif;
    background-color: #121212;
    color: #F8F6F0;
}
h1, h2 {
    color: #B89C52;
}
header.hero {
    background: url('tallinn_background.png') no-repeat center center/cover;
    height: 90vh;
    min-height: 600px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header.small-hero {
    background: url('smallhero.jpg') no-repeat center center/cover;
    height: 50vh;
    min-height: 300px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-logo {
    width: 150px;
    margin-bottom: 20px;
}
.logo-small {
    height: 85px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.nav-centered {
    display: flex;
    justify-content: center;
    background-color: #1d1d1d;
    padding: 10px 0;
}
.nav-centered a {
    color: #B89C52;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width: 768px) {
    .nav-centered {
        flex-direction: column;
        text-align: center;
    }
    .nav-centered a {
        margin: 10px 0;
    }
}
main {
    padding: 40px 20px;
    text-align: center;
}
footer {
    background-color: #1d1d1d;
    color: #aaa;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;
}
.button {
    background-color: #B89C52;
    color: #121212;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
}
#countdown {
  color: #B89C52;
  font-weight: 150;
  font-size: 0.5rem;
  margin-top: 20px;
}
